@import url(./vendor/normalize.css);
@import url(./vendor/font.css);

/* -------------------- */
/*    Utility classes   */
/* -------------------- */

:root {
  /* colors */
  --clr-text-primary: #21201F;
  --clr-text-secondary: #2E2C21;
  --clr-text-caption-gray: #808080;
  --clr-text-caption-light-gray: #C5C5C5;
  --clr-bg-primary: #FFFFFF;
  --clr-bg-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
  --clr-gradient-accent: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  --clr-bg-button: #FFDE40;
  --clr-shadow-button: rgba(255, 222, 64, 0.59);
  --clr-hover-button: ;
  --clr-focus-button: ;
  --clr-hover-caption: #6B6B6B;
  --clr-transparent: transparent;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  background: var(--clr-bg-primary);
  color: var(--clr-text-primary);
  font-family: 'Yandex Sans Text', Arial, sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'clig' off, 'liga' off;
  font-style: normal;
  font-weight: 400;
  leading-trim: both;
  text-edge: cap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* -------------------- */
/*      Typography      */
/* -------------------- */

.site-title {
  font-size: 72px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1.44px;
  padding: 0;
  margin: 0;
}

.section-title {
  font-size: 48px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.96px;
  padding: 0;
  margin: 0;
}

.section-title_type_main {
  font-size: 56px;
  letter-spacing: -1.12px;
}

.section-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  padding: 0;
  margin: 0;
}

.caption-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 120%;
  padding: 0;
  margin: 0;
}

@media (max-width: 1280px) {
  .site-title {
    font-size: 56px;
  }
  .section-title {
    font-size: 40px;
  }
  .section-title_type_main {
    font-size: 48px;
  }
  .section-text {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .site-title {
    font-size: 48px;
  }
  .section-title {
    font-size: 36px;
  }
  .section-title_type_main {
    font-size: 40px;
  }
  .section-text {
    font-size: 18px;
  }
}

@media (max-width: 540px) {
  .site-title {
    font-size: 36px;
    letter-spacing: -0.72px;
  }
  .section-title {
    font-size: 32px;
    letter-spacing: -0.64px;
  }
  .section-text {
    font-size: 16px;
  }
  .caption-text {
    font-size: 10px;
  }
}

/* -------------------- */
/*      CONTAINER       */
/* -------------------- */

.container {
  max-width: calc((100vw - (100vw - 100%) - 260px * 2));
  margin: 0 auto;
}

@media (max-width: 1410px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 86%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: calc((100vw - (100vw - 100%) - 32px * 2));
  }
}

/* -------------------- */
/*Interactive components*/
/* -------------------- */

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-style: none;
  background-color: var(--clr-transparent);
  cursor: pointer;
  box-sizing: border-box;
  transition: all .3s linear;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: transparent;
}

.button_type_main {
  padding: 24px;
  line-height: 17px;
  border-radius: 36px;
  background-color: var(--clr-bg-button);
  box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
  min-width: 318px;
}

@media (hover: hover) {
  .button_type_main:hover {
    background-color: #f5cc00;
  }
  .button_type_main:active {
    transform: scale(.98);
  }
}

@keyframes button-action-focus {
    from,to {
        background-color: #ffdb29;
    }

    40%,60% {
        background-color: #ffe45c;
    }
}

.button_type_main:focus-visible {
  outline: 1px solid #8a7300;
  animation: button-action-focus 1s infinite linear;
}

.control-buttons {
  display: none;
}

.slide-arrow {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background-color: var(--clr-bg-button);
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s linear;
}

.slide-arrow_prev {
  background-image: url(./images/icons/arrow_prev.svg);
}

.slide-arrow_next {
  background-image: url(./images/icons/arrow_next.svg);
}

.slide-arrow_disabled {
  opacity: 0.5;
}

.slider {
  overflow: hidden;
}

.slider__container {
  transition: transform 0.4s;
}

@media (max-width: 540px) {
  .control-buttons {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .slider__container {
    scroll-snap-type: x mandatory;
    scroll-snap-points-x: repeat(375px);
    -webkit-overflow-scrolling: touch; /* Для поддержки вебкитовских браузеров */
  }
  .slider__item {
    flex: 0 0 auto;
    width: 100%;
    min-width: 100%;
    scroll-snap-align: start;
  }
}

@media (max-width: 540px) {
  .button_type_main {
    min-width: 311px;
    padding: 18px;
  }
}

.article__picture_type_membership::before,
.offer__image-container::before {
  animation: spin 10s linear infinite;
}

@media (hover: hover) {
  .article__picture_type_membership:hover::before,
  .offer__image-container:hover::before {
    animation-play-state: paused;
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* -------------------- */
/*    HEADER COMPONENT  */
/* -------------------- */

.header__content {
  position: relative;
}

.header__logo {
  position: absolute;
  top: 125px;
  left: 0;
  z-index: 2;
}

@media (max-width: 992px) {
  .header__logo {
    top: 22px;
  }
}

@media (max-width: 540px) {
  .header__logo {
    max-width: 112.35px;
    max-height: 32px;
    top: 32px;
  }
}

/* -------------------- */
/*    OFFER COMPONENT   */
/* -------------------- */

.offer {
  position: relative;
  background: url('./images/bg/bg_offer.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.offer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.offer__info {
  max-width: 420px;
  margin-top: 238px;
  margin-bottom: 120px;
  z-index: 1;
}

.offer__title {
  position: relative;
  margin-bottom: 30px;
}

.offer__text {
  line-height: 130%;
  margin-bottom: 37px;
}

.price-new {
  position: relative;
  padding: 2.5px 12px;
  border-radius: 500px;
  background: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  line-height: 120%;
}

.price-new::after {
  content: "3190 ₽";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
  position: absolute;
  width: 103px;
  height: 100%;
  font-size: 16px;
  line-height: 120%;
  color: #808080;
  text-decoration: line-through;
  border-radius: 500px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  top: 0;
  left: 34px;
  z-index: -1;
}

.offer__image-container {
  position: absolute;
  max-width: 815px;
  right: 62px;
  top: 0;
  background-image: url(./images/bg/bg_main.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.offer__image-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 208px;
  height: 208px;
  background-image: url(./images/circle-text_article.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  bottom: 200px;
  left: 224px;
}

.offer__image {
  display: block;
  width: 100%;
  height: 100%;
  padding: 47px 0;
}

@media (max-width: 1280px) {
  .offer__info {
    max-width: 350px;
  }
  .offer__image-container::before {
    width: 150px;
    height: 150px;
    bottom: 190px;
    left: 168px;
  }
  .offer__image {
    padding: 100px 0;
  }
}

@media (max-width: 992px) {
  .offer__info {
    margin-top: 163px;
  }
  .offer__image-container {
    max-width: 450px;
  }
  .offer__image-container::before {
    width: 110px;
    height: 110px;
    bottom: 114px;
    left: 114px;
  }
  .offer__image {
    padding: 54px 0;
  }
}

@media (max-width: 992px) {
  .offer__image-container {
    max-width: 350px;
  }
  .offer__image-container::before {
    width: 90px;
    height: 90px;
    bottom: 145px;
    left: 88px;
  }
  .offer__image {
    padding: 100px 0;
  }
}

@media (max-width: 640px) {
  .offer__content {
    padding-bottom: 72px;
  }
  .offer__info {
    margin-top: 92px;
    margin-bottom: 0;
  }
  .offer__title {
    margin-bottom: 24px;
  }
  .offer__text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .price-new {
    padding: 0.5px 8px 0.5px 7px;
  }
  .price-new::after {
    padding-right: 5px;
    position: absolute;
    width: 70px;height: 100%;
    font-size: 13px;
  }
  .offer__button {
    position: fixed;
    bottom: 24px;
    z-index: 1;
  }
  .offer__image-container {
    position: static;
    background-image: none;
  }
  .offer__image-container::before {
    width: 22%;
    height: 22%;
    bottom: 85px;
    left: 109px;
  }
  .offer__image {
    padding: 0;
  }
}

/* -------------------- */
/* ADVANTAGES COMPONENT */
/* -------------------- */

.advantages__content {
}

.advantages__title {
  max-width: 90%;
  margin-bottom: 40px;
}

.advantages__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  row-gap: 62px;
  column-gap: 74px;
  flex-wrap: wrap;
  margin-bottom: 122px;
}

.advantage {
  position: relative;
  max-width: 400px;
  padding-top: 99px;
  flex-basis: 400px;
}

.advantage::before {
  content: "";
  display: block;
  position: absolute;
  width: 83px;
  height: 83px;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

.advantage_type_start::before {
  background-image: url('./images/icons/start_icon.svg');
}

.advantage_type_friends::before {
  width: 94px;
  background-image: url('./images/icons/friends_icon.svg');
}

.advantage_type_pause::before {
  background-image: url('./images/icons/pause_icon.svg');
}

.advantage_type_change::before {
  background-image: url('./images/icons/change_icon.svg');
}

@media (max-width: 1410px) {
  .advantages__list {
    justify-content: space-between;
  }
  .advantage {
    max-width: 40%;
  }
}

@media (max-width: 540px) {
  .advantages__title {
    margin-bottom: 27px;
  }
  .advantages__list {
    gap: 24px;
    margin-bottom: 66px;
  }
  .advantage {
    padding-top: 0;
    padding-left: 99px;
    min-height: 83px;
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  .advantage::before {
    background-size: 80%;
    background-position: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .advantage_type_friends::before {
    width: 100px;
  }
}

.events__title {
  max-width: 90%;
  margin-bottom: 34px;
}

.events__text {
  max-width: 49%;
  margin-bottom: 73px;
}

.events__list {
  padding-left: calc((100vw - (100vw - 100%) - 910px) / 2);
  padding-right: calc((100vw - (100vw - 100%) - 1180px) / 2);
  margin-bottom: 106px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 23px;
}

.event {
  position: relative;
  max-width: 456px;
  width: calc((100% - 23px) / 2);
  border-radius: 64px;
  background: #DEDEDE;
  transform: rotate(2deg);
}

.event::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 50%;
}

.event_type_concert {
  transform: rotate(2deg) translateY(-46%);
}

.event_type_panama {
  transform: rotate(2deg) translateY(-46%) translateX(-4%);
}

.event_type_shopper {
  transform: rotate(2deg) translateX(-4%);
}

.event_type_music::before {
  width: 100%;
  height: 100%;
  background-image: url(./images/icons/deco-pin_icon.png);
  top: 0;
  left: -174px;
  background-size: 58%;
}

.event_type_concert::before {
  width: 306px;
  height: 368px;
  background-image: url(./images/icons/deco-lines_icon.png);
  top: -167px;
  right: -94px;
  background-size: 100%;
}

.event_type_panama::before {
  width: 639px;
  height: 589px;
  background-image: url(./images/icons/deco-cup_icon.png);
  top: 10px;
  right: -120px;
  background-position: bottom right;
}

.event__image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 64px;
}

@media (max-width: 1280px) {
  .events__list {
    max-width: 80%;
    margin: 0 auto 106px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .events__list {
    max-width: 86%;
  }
  .event_type_music::before,
  .event_type_concert::before,
  .event_type_shopper::before,
  .event_type_panama::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .events__list {
    max-width: calc((100vw - (100vw - 100%) - 32px * 2));
  }
}

@media (max-width: 540px) {
  .events {
    padding-bottom: 68px;
  }
  .events__title {
    margin-bottom: 22px;
  }
  .events__text {
    max-width: 100%;
    margin-bottom: 43px;
  }
  .events__list {
    max-width: calc((100vw - (100vw - 100%) - 31px));
    margin: 0 auto 24px;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 16px;
  }
  .event {
    max-height: calc((100vw - (100vw - 100%)));
    max-width: calc((100vw - (100vw - 100%)));
    flex-shrink: 0;
    transform: none;
  }
  .event_type_concert,
  .event_type_panama,
  .event_type_shopper {
    transform: none;
  }
  .event::before {
    background-size: 100%;
  }
  .event_type_music::before {
    width: 200px;
    height: 200px;
    background-image: url(./images/icons/deco-lines_icon.png);
    top: -100px;
    right: -15px;
  }
  .event__image {
    border-radius: 48px;
  }
}

/* -------------------- */
/*   ARTICLE COMPONENT  */
/* -------------------- */

.article {
  overflow: hidden;
}

.article__content {
  padding-bottom: 118px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 54px;
}

.article__picture {
  position: relative;
  max-width: 500px;
  flex: 1 1 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.article__picture_type_terms {
  background-image:
    url('./images/bg/bg_plus.png');
}

.article__picture_type_terms::before {
  content: "";
  display: block;
  position: absolute;
  width: 46%;
  height: 46%;
  background-image: url(./images/icons/plus_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 90px;
  left: 55px;
}

.article__picture_type_membership {
  background-image: url('./images/bg/bg_membership.png');
  max-width: 420px;
  max-height: 410px;
  padding-left: 61px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.article__picture_type_membership::before {
  content: "";
  display: block;
  position: absolute;
  width: 129%;
  height: 129%;
  background-image: url('./images/circle-text_article.png');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  bottom: -60px;
  right: 0px;
}

.article__image {
  display: block;
  width: 167px;
  height: 215px;
}

.article__image_type_terms {
  width: 81%;
  height: auto;
  position: absolute;
  top: 0;
  left: 117px;
  z-index: -1;
}

.article__info {
  max-width: 419px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 36px;
  flex: 1 1 0;
  margin-left: auto;
}

.article__button {
  line-height: 22px;
  min-width: 281px;
}

@media (max-width: 992px) {
  .article__picture_type_membership::before {
    width: 122%;
    height: 122%;
    bottom: -54px;
    right: 0;
  }
  .article__image {
    width: 112px;
    height: auto;
  }
}

@media (max-width: 1280px) {
  .article__image_type_terms {
    width: 60%;
    margin: auto;
  }
}

@media (max-width: 640px) {
  .article__picture_type_terms {
    display: none;
  }
  .article__info {
    gap: 22px;
    margin-left: 0;
  }
  .article__content {
    flex-direction: column;
    padding-bottom: 0;
    gap: 80px;
  }
  .article__content_type_membership {
    padding-bottom: 66px;
    padding-top: 66px;
  }
  .article__title {
    max-width: 93%;
  }
  .article__button {
    min-width: 311px;
  }
  .article__picture_type_membership {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    min-height: 225px;
    padding-left: 0;
  }
  .article__picture_type_membership::before {
    width: 360px;
    bottom: -23px;
    right: -28px;
  }
}

/* -------------------- */
/*   FOOTER COMPONENT   */
/* -------------------- */

.footer__caption {
  /*padding-left: calc((100vw - (100vw - 100%) - 906px) / 2);*/
  padding-bottom: 128px;
  /*max-width: 906px;*/
  color: var(--clr-text-caption-light-gray);
}

.footer__link {
  text-decoration: underline;
  transition: color .2s ease-in-out;
}

@media (hover: hover) {
  .footer__link:hover {
    color: var(--clr-hover-caption);
  }
}

@media (max-width: 540px) {
  .footer__caption {
    padding-bottom: 72px;
  }
}